html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", "Titillium Web", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: $font-med;
    color: $Grayish-Blue;
    font-weight: 300;
    // &.noscroll {
    //     overflow: hidden;

    // }
}
h1,
h2,
h3 {
    margin-top: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: $Grayish-Blue;
}

//flexbox style
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}
//spacing
.container {
    max-width: 69rem;
    margin: 0 auto;
    &__pall {
        padding: 2.25rem 1.5rem;
    }
    &__py {
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &__px {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &__pt {
        padding-top: 2.25rem;
    }
    &__pr {
        padding-right: 1.5rem;
    }
    &__pb {
        padding-bottom: 2.5rem;
    }
    &__pl {
        padding-left: 1.5rem;
    }
}

//buttons
button,
.button {
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
    border: none;
    font-weight: 400;
    font-size: $font-sm;
    color: $White !important;
    transition: opacity 350ms ease-in-out;
    &:hover {
        opacity: 0.65;
    }
}

//visibility

.hide-for-mob {
    @include break-dw(mid) {
        display: none;
    }
}

.hide-for-desktop {
    @include break-up(lg) {
        display: none;
    }
}
