html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", "Titillium Web", Arial, Helvetica, sans-serif;
    font-size: $font-med;
    font-weight: 300;
    color: $Grayish-Blue;
    line-height: 1.5;
    overflow-x: hidden;

    @include break-up(lg) {
        font-size: $font-med;
    }

}

h1,
h2,
h3 {
    font-weight: 300;
    line-height: 1.15;
    font-size: 2.31rem;
    color: $Dark-Blue;
    margin-top: 0;


}

h1 {
    font-size: 2.31rem;
    margin-bottom: 1.5rem;

    @include break-up(lg) {
        font-size: $font-xlg;
    }
}


h2 {
    font-size: 1.87rem;
    margin-bottom: 1.56rem;

    @include break-up(lg) {
        font-size: 2.25rem;
        margin-bottom: 2.25rem;
    }

}

p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: $Grayish-Blue;
}

//flexbox style
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

//spacing
.container {
    max-width: 69rem;
    margin: 0 auto;

    &__pall {
        padding: 4.37rem 1.5rem;

        @include break-up(lg) {
            padding: 6rem 0 6rem 0;
        }
    }

    &__py {
        padding-top: 4.37rem;
        padding-bottom: 2.25rem;

        @include break-up(lg) {
            padding: 6rem 0 6rem 0;

        }
    }

    &__px {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &__pt {
        padding-top: 4.37rem;

        @include break-up(lg) {
            padding-top: 6rem;

        }
    }

    &__pr {
        padding-right: 1.5rem;
    }

    &__pb {
        padding-bottom: 4.37rem;

        @include break-up(lg) {
            padding-top: 6rem;

        }
    }

    &__pl {
        padding-left: 1.5rem;
    }
}

//buttons
button,
.button {
    display: inline-block;
    position: relative;
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
    border: none;
    font-weight: 400;
    font-size: $font-sm;
    color: $White ;
    transition: opacity 350ms ease-in-out;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        opacity: 0.65;
    }
}

//visibility

.hide-for-mob {
    @include break-dw(mid) {
        display: none;
    }
}

.hide-for-desktop {
    @include break-up(lg) {
        display: none;
    }
}