.hero {
    &__img {
        background-image: url(/images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        position: relative;
        width: 100%;
        border: 2px solid red;

        &::before {
            content: " ";
            background: url(/images/image-mockups.png);
            height: 100%;
            width: 100%;
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center bottom;
            position: absolute;
        }
    }
    &__text {
        text-align: center;
        h1 {
            font-weight: 300;
            color: $Dark-Blue;
            line-height: 1.15;
            font-size: 2.31;
            margin-bottom: 1.5rem;
        }
        p {
            line-height: 1.5;
            margin-bottom: 2.25rem;
        }
    }
}
