$Dark-Blue: #2d314d;
$Lime-Green: #31d35c;
$Bright-Cyan: #2bb7da;
$Grayish-Blue: #9698a6;
$Light-Grayish-Blue: #f3f4f6;
$Very-Light-Gray: #fafafa;
$White: #ffffff;

//font-sizes$

$font-med: 1.125rem; //14px
$font-sm: 0.875rem; //18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;