 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Public Sans", "Titillium Web", Arial, Helvetica, sans-serif;
 }

 body {
   display: flex;
   flex-direction: column;
   font-family: "Public Sans", sans-serif;
   color: var(--Grayish-Blue);
   width: 100vw;
   --Dark-Blue: hsl(233, 26%, 24%);
   --Lime-Green: hsl(136, 65%, 51%);
   --Bright-Cyan: hsl(192, 70%, 51%);
   --Grayish-Blue: hsl(233, 8%, 62%);
   --Light-Grayish-Blue: hsl(220, 16%, 96%);
   --Very-Light-Gray: hsl(0, 0%, 98%);
   --White: hsl(0, 0%, 100%);
 }

 header {
   display: flex;
   flex-direction: row;
   position: relative;
   align-items: center;
   justify-content: space-between;
   background-color: var(--White);
   margin-top: 0;
   padding: 15px 90px 0px 90px;
   height: 60px;
 }

 header ul {
   display: inline-flex;
   text-decoration: none;
   list-style: none;
   color: var(--Grayish-Blue);
   justify-content: space-between;
   align-items: center;
   gap: 60px;
   cursor: pointer;
 }

 header button,
 main button,
 footer button {
   background-image: linear-gradient(to right,
       var(--Lime-Green),
       var(--Bright-Cyan));
   border: none;
   border-radius: 20px;
   color: white;
   height: 30px;
   width: 120px;
 }

 main {
   display: flex;
   margin-top: auto;
   background-color: var(--Very-Light-Gray);
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 650px;
   padding: 0px 0px 0px 150px;
 }

 .main-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   gap: 20px;
 }

 .main-text h3 {
   font-size: 30px;
   color: var(--Dark-Blue);
   font-family: "Public Sans", sans-serif;
   font-weight: 300;
   margin-bottom: 0px;
 }

 .main-img {
   position: relative;
   width: 50%;
   height: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

 .main-img::before {
   content: "";
   position: absolute;
   background-image: url(./images/bg-intro-desktop.svg);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-repeat: no-repeat;
   background-position: 25% 20%;
   background-size: cover;
   background-clip: border-box;
 }

 .main-img::after {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-image: url(./images/image-mockups.png);
   background-repeat: no-repeat;
   background-position: right bottom;
   background-size: contain;
   top: 60px;
 }

 .bank-description,
 .articles {
   background-color: var(--White);
   height: 600px;
   display: flex;
   flex-direction: column;
   margin-top: auto;
   align-items: flex-start;
   gap: 40px;
   justify-content: center;
   padding: 0px 150px 0px 150px;
 }

 .bank-description .card {
   width: 260px;
   height: 300px;
   display: flex;
   flex-direction: column;
   text-align: left;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 .description-header,
 .description-header h3 {
   display: flex;
   flex-direction: column;
   width: 80vw;
   font-size: 18px;
 }

 .description-header {
   align-self: flex-end;
   width: 80vw;
   gap: 20px;
 }

 .description-header h3 {
   color: var(--Dark-Blue);
   font-size: 20px;
   margin-bottom: 0;
   font-weight: 300;
 }

 .bank-description .card-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80vw;
   margin-left: auto;
   gap: 12px;
 }

 .bank-description .card-container .card img {
   height: 30%;
   object-fit: contain;
   align-self: flex-start;
 }

 .articles {
   background-color: var(--Very-Light-Gray);
 }

 .articles h3 {
   color: var(--Grayish-Blue);
   font-size: 12px;
   font-weight: 300;
   align-self: baseline;
   font-family: "Public Sans", sans-serif;
   text-align: left;
   text-transform: uppercase;
 }

 .articles p {
   color: var(--Dark-Blue);
   font-size: 18px;
   margin-top: -20px;
   margin-bottom: -20px;
   height: fit-content;
   font-weight: 300;
 }

 .articles .card-container {
   background-color: var(--Very-Light-Gray);
   display: flex;
   flex-direction: row;
   width: 80vw;
   align-items: baseline;
   justify-content: space-between;
   gap: 10px;
 }

 .articles .card-container .card {
   width: 260px;
   height: 400px;
   display: flex;
   flex-direction: row;
   text-align: left;
   flex-wrap: wrap;
   background-color: white;
   border-radius: 8px;
   padding: 5px;
 }

 .articles .card-container .card img {
   height: 50%;
   width: 100%;
   object-fit: cover;
   border-radius: 8px;
 }

 footer {
   height: 190px;
   display: flex;
   flex-direction: row;
   background-color: var(--Dark-Blue);
   padding: 0px 150px 0px 150px;
   justify-content: space-evenly;
   align-items: center;
   color: white;
 }

 .footer-icons {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 80%;
 }

 .footer-icons .logo img {
   height: 20px;
   width: 150px;
   object-fit: contain;
   filter: invert(1) hue-rotate(216deg) brightness(1.5);
 }

 .social-icons {
   display: flex;
   gap: 12px;
 }

 .links-1 ul {
   display: flex;
   flex-direction: column;
   list-style: none;
   color: var(--Grayish-Blue);
   gap: 12px;
 }

 .links-2 ul {
   display: flex;
   flex-direction: column;
   list-style: none;
   color: var(--Grayish-Blue);
   gap: 12px;
 }

 .copyrights {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 12px;
   color: var(--Grayish-Blue);
 }

 .attribution {
   font-size: 11px;
   text-align: center;
 }

 .attribution a {
   color: hsl(228, 45%, 44%);
 }


 @media screen and (max-width:400px) {
   header {
     width: 100%;
     height: 50px;
     background-color: var(--White);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 10px;
     padding: 0 5px;
   }

   .main-text {
     margin-top: 325px;
   }

   .menu-items {
     display: none;

   }

   .main-img::before {
     content: " ";
     position: absolute;
     background-image: url(./images/bg-intro-desktop.svg);
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-repeat: no-repeat;
     background-position: 37% -105px;
     background-size: cover;
     background-clip: border-box;
     z-index: -10;
   }

   .main-img::after {
     content: "";
     position: absolute;
     height: 100%;
     width: 100%;
     background-image: url(./images/image-mockups.png);
     background-repeat: no-repeat;
     background-position: right bottom;
     background-size: contain;
     top: -90px;
     z-index: -5;
   }

   .main-text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     gap: 20px;
   }

   .main-text h3 {
     font-size: 30px;
     color: var(--Dark-Blue);
     font-family: "Public Sans", sans-serif;
     font-weight: 300;
     margin-bottom: 0px;
     height: 50px;
     width: 100%;
   }

   .header-button,
   .main-button,
   .footer-button {
     border: none;
     border-radius: 20px;
     color: white;
     height: 30px;
     width: 120px;
     background-image: linear-gradient(to right,
         var(--Lime-Green),
         var(--Bright-Cyan));
   }

   .header-button {
     align-self: center;
   }

   .bank-description {
     height: 1100px;
     gap: 40px;
     justify-content: center;
     display: flex;
     flex-direction: column;
     width: 100%;
     margin-top: 20px;
     background: var(--Light-Grayish-Blue);


   }

   .card-container {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     margin-left: auto;
     gap: 12px;
     height: 720px;
   }

   .description-header {
     width: 100%;
     height: 170px;
     display: flex;
     flex-direction: column;
     padding: 10px;
     align-items: center;
     justify-content: center;
     gap: 10px;
     margin-top: 20px;


   }

   .description-header h3 {
     width: 110px;
     font-weight: 600;
     font-size: 18px;
     line-height: 25px;
     font-family: "Public Sans", sans-serif;
   }



   .bank-description .card {
     width: 100%;
     height: 250px;
     display: flex;
     flex-direction: column;
     text-align: left;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     padding: 10px;
   }

   .card img {
     width: 80px;
     height: 80px;
   }

   .card p {
     text-align: center;
     line-height: 20px;
   }

   .bank-description .card-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     margin-left: auto;
     gap: 12px;
   }

   .main-text-p {
     width: 400px;
     margin-top: 20px;
   }



   .articles {
     background-color: var(--White);
     height: 950px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 40px;
     justify-content: center;
     margin-top: 20px;
     margin-bottom: 20px;
   }

   .card-container-card {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     gap: 12px;
     width: 360px;
     height: 450px;
     background: var(--White);
     padding: 5px;
   }

   .card-container-card img {
     width: 350px;
     height: 50%;
   }

   .card-container-card h3,
   .card-container-card p {
     text-align: left;
     width: 100%;
   }

   footer {
     height: 400px;
     display: flex;
     flex-direction: column;
     background-color: var(--Dark-Blue);
     justify-content: space-evenly;
     align-items: center;
     color: white;
     margin-top: 1060px;
   }

   .footer-icons {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     height: 80%;
   }

   .footer-icons .logo img {
     height: 20px;
     width: 150px;
     object-fit: contain;
     filter: invert(1) hue-rotate(216deg) brightness(1.5);
   }

   .social-icons {
     display: flex;
     gap: 12px;
   }

   .links-1 ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     color: var(--Grayish-Blue);
     gap: 12px;
     align-items: center;
   }

   .links-2 ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     color: var(--Grayish-Blue);
     gap: 12px;
     align-items: center;
     margin-top: 10px;
   }

   .copyrights {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 12px;
     color: var(--Grayish-Blue);
     width: 100%;
     margin-top: 10px;
   }

   .footer-button {
     width: 50%;
   }

   .copyrights p {
     margin-bottom: 20px;
   }

 }